.aside {
    grid-area: aside;
    background-color: burlywood;
}
 
.menu li {
    list-style-type: none;
    padding-bottom: 5px;
}

.item:last-child {
    padding-top: 30px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item .activeLink {
    color: gray;
    text-decoration: underline;
}

.item a:hover {
    color: gold;
}

.item.friends {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    background: red;
}
